<!--The whole content below can be removed with the new code.-->
<div>
  <h1 class="header">
    Welcome to Belatrix Project
  </h1>
</div>
<p>Please insert the plain text file</p>
<upload (fileLoaded)="proccessData($event)"></upload>

<div *ngIf="deptos.length >0" class="col-md-8">
  <belatrix-table [dataSet]="deptos" type="departamento"></belatrix-table>
</div>
<div *ngIf="provincias.length >0" class="col-md-8">
  <belatrix-table [dataSet]="provincias" type="provincia"></belatrix-table>
</div>
<div *ngIf="distritos.length >0" class="col-md-8">
  <belatrix-table [dataSet]="distritos" type="distrito"></belatrix-table>
</div>
